Experiment No. - 6\
Name : Pranav menon\
PRN No. : 25070123085\
Batch : ENTC - B1\
Aim of the Experiment :Study of Conditional Statements in Python

In [ ]:
# To check whether the given Number is Positive , Negative or Zero
num = float(input("Enter the Number : "))
if num > 0:
    print("The Number is Positive .")
elif num < 0:
    print("The Number is Negative .")
else:
    print("The Number is Zero .")

Enter the Number : 56
The Number is Positive .

In [ ]:
# To check whether the given Number is Positive , Negative or Zero
num = float(input("Enter the Number : "))
if num > 0:
    print("The Number is Positive .")
elif num < 0:
    print("The Number is Negative .")
else:
    print("The Number is Zero .")

Enter the Number : -24
The Number is Negative .

In [ ]:
# To check whether the given Number is Positive , Negative or Zero
num = float(input("Enter the Number : "))
if num > 0:
    print("The Number is Positive .")
elif num < 0:
    print("The Number is Negative .")
else:
    print("The Number is Zero .")

Enter the Number : 0
The Number is Zero .

In [ ]:
# To check whether the given Number is Odd or Even
num = int(input("Enter the Number : "))
if(num % 2) == 0:
    print("The Number is Even .")
else:
    print("The Number is Odd .")

Enter the Number : 14
The Number is Even .

In [ ]:
 # To check whether the given Number is Odd or Even
num = int(input("Enter the Number : "))
if(num % 2) == 0:
    print("The Number is Even .")
else:
    print("The Number is Odd .")

Enter the Number : 65
The Number is Odd .

In [ ]:
# To find the Largest among the three Numbers
a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))
c = int(input("Enter the Third Number : "))
if a >= b and a>=c:
  print("The Largest Number is : " ,a)
elif b >= a and b >= c:
  print("The Largest Number is : " ,b)
else:
  print("The Largest Number is : " ,c)

Enter the First Number : 78
Enter the Second Number : 65
Enter the Third Number : 43
The Largest Number is :  78

In [ ]:
# To find the Largest among the three Numbers
a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))
c = int(input("Enter the Third Number : "))
if a >= b and a>= c:
  print("The Largest Number is : " ,a)
elif b >= a and b >= c:
  print("The Largest Number is : " ,b)
else:
  print("The Largest Number is : " ,c)

Enter the First Number : 87
Enter the Second Number : 94
Enter the Third Number : 23
The Largest Number is :  94

In [ ]:
# To find the Largest among the three Numbers
a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))
c = int(input("Enter the Third Number : "))
if a >= b and a>=c:
  print("The Largest Number is : " ,a)
elif b >= a and b >= c:
  print("The Largest Number is : " ,b)
else:
  print("The Largest Number is : " ,c)

Enter the First Number : 67
Enter the Second Number : 56
Enter the Third Number : 98
The Largest Number is :  98

In [ ]:
# To determine the subject mark and Calculate the grade
marks = float(input("Enter the Marks : "))
if marks >= 90:
  print("The Grade is : A")
elif marks >= 75:
   print("The Grade is : B")
elif marks >= 60:
  print("The Grade is : C")
elif marks >= 40:
  print("The Grade is : D")
else:
  print("The Student has failed the Examination")

Enter the Marks : 88.7
The Grade is : B

In [ ]:
# To determine the subject mark and Calculate the grade
marks = float(input("Enter the Marks : "))
if marks >= 90:
  print("The Grade is : A")
elif marks >= 75:
   print("The Grade is : B")
elif marks >= 60:
  print("The Grade is : C")
elif marks >= 40:
  print("The Grade is : D")
else:
  print("The Student has failed the Examination")

Enter the Marks : 37.8
The Student has failed the Examination

In [ ]:
# To determine if a year is a leap year or Not
year = int(input("Enter the Year : "))
if(year % 400 ==0) or ((year % 100 != 0) and (year % 4 == 0)):
  print("The Year is a Leap Year")
else:
  print("The Year is not a Leap Year")

Enter the Year : 1900
The Year is not a Leap Year

In [ ]:
# To determine if a year is a leap year or Not
year = int(input("Enter the Year : "))
if(year % 400 ==0) or ((year % 100 != 0) and (year % 4 == 0)):
  print("The Year is a Leap Year")
else:
  print("The Year is not a Leap Year")

Enter the Year : 2000
The Year is a Leap Year

In [16]:
# To calculate the Gross Salary of an employee
basic_salary = int(input("Enter the Basic Salary : "))

hra = 0
da = 0

if basic_salary <= 10000:
  hra = 0.02 * basic_salary
  da = 0.08*basic_salary
elif basic_salary <=20000:
  hra = 0.025 * basic_salary
  da = 0.09 * basic_salary
else:
  hra = 0.03 * basic_salary
  da = 0.095 * basic_salary


gross_Sal = basic_salary + hra + da

print(f"The Basic Salary is : {basic_salary}")
print(f"The HRA is : {hra}")
print(f"The DA is : {da}")
print(f"The Gross Salary of the employee is : {gross_Sal}")

Enter the Basic Salary : 15000
The Basic Salary is : 15000
The HRA is : 375.0
The DA is : 1350.0
The Gross Salary of the employee is : 16725.0

In [18]:
# To calculate the income tax
income = int(input("Enter the Income : "))
if income <= 250000:
  tax = 0
elif income <= 500000:
  tax = (income - 250000) * 0.05
elif income <= 500000:
  tax = (250000 * 0.05) + (income-500000) *0.20
else:
  tax = (250000 * 0.05) + (500000*0.20) + (income-1000000) * 0.30

print(f"The Income Tax is : {tax}")

Enter the Income : 1200000
The Income Tax is : 172500.0

In [19]:
# To identify if a given character is vowel or consonent
char = input("Enter the character : ")
if(char == 'a' or char =='e' or char =='i' or char == 'o' or char == 'u' or char == 'A' or char =='E' or char =='I' or char == 'O' or char == 'U'):
  print("The Character is a Vowel")
else:
  print("The character is a consonent")

Enter the character : a
The Character is a Vowel

In [26]:
# To identify if a given character is vowel or consonent
char = input("Enter the character : ")
list = ['a','e','i','o','u','A','E','I','O','U']
if char in list:
  print("The Character is a Vowel")
else:
  print("The character is a consonent")

Enter the character : A
The Character is a Vowel

In [39]:
# To identify if a given character is vowel or consonent
import string
char = input("Enter the character : ")
list = ['a','e','i','o','u','A','E','I','O','U']
set1 = set(list)
lower = set(string.ascii_lowercase)
upper = set(string.ascii_uppercase)
vowel1 = lower - set1
vowel2 = upper - set1
if char in list:
  print("The Character is a Vowel")
elif char in vowel1 or char in vowel2:
  print("The character is a consonent")
else:
  print("Error! Please try again")

Enter the character : A
The Character is a Vowel

In [46]:
# To increment a date
date = input("Enter date in dd/mm/yyyy format: ")
dd, mm, yy = map(int, date.split("/"))

if (mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12):
    max1 = 31
elif (mm == 4 or mm == 6 or mm == 9 or mm == 11):
    max1 = 30
elif mm == 2 and (yy % 4 == 0 and yy % 100 != 0 or yy % 400 == 0):
    max1 = 29
elif mm == 2:
    max1 = 28

if (mm < 1 or mm > 12):
    print("Date is invalid")
elif (dd < 1 or dd > max1):
    print("Date is invalid")
elif (dd == max1 and mm != 12):
    dd = 1
    mm = mm + 1
    print("The incremented date is:", dd, "/", mm, "/", yy)
elif (dd == 31 and mm == 12):
    dd = 1
    mm = 1
    yy = yy + 1
    print("The incremented date is:", dd, "/", mm, "/", yy)
else:
    dd = dd + 1
    print("The incremented date is:", dd, "/", mm, "/", yy)

Enter date in dd/mm/yyyy format: 12/04/2025
The incremented date is: 13 / 4 / 2025